.footer {
  background: #000000;
  padding: 70px;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;

  flex-direction: column;
}

:root {
  --link-size: 64px;
  --trans-props: all 0.3s ease;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.social-icon {
  display: flex;
  position: relative;
  overflow: hidden;
  width: var(--link-size);
  height: var(--link-size);
  margin: 8px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  text-decoration: none;
  transition: var(--trans-props);
}

.social-icon i {
  margin: auto;

  font-size: 24px;
  color: hsl(212, 16%, 48%);

  z-index: 1;

  transition: var(--trans-props);
}

.social-icon:after {
  content: "";

  width: var(--link-size);
  height: var(--link-size);

  position: absolute;

  transform: translate(0, var(--link-size));

  border-radius: 50%;
  transition: var(--trans-props);
}

.social-icon.linkedin:after {
  background-color: #1da1f2;
}

.social-icon.github:after {
  background-color: #24292e;
}

.social-icon:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
}

.social-icon:hover i {
  transform: scale(1.1);
  color: #fff;
}

.social-icon:hover:after {
  transform: translate(0) scale(1.2);
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
